<h1><%= @song.name %></h1>

<p><strong>Artist:</strong>  <span style="color:blue"><%= @song.artist %></span></p>

<p><strong>URL:</strong>  <span style="color:blue"><%= @song.url %></span></p>

<hr>
<a href="/songs">Return to the public Wall of Sound</a>
