<h1>Add a comment.</h1>

<form action='/reviews' method="POST">
  <div>
    <input type="text" placeholder="Add a comment" name="review" value="" >
    <input type="submit" name="Submit">
  </div>
</form>